<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}--地理信息系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap/bootstrap.min.css') }}"/>
    <script src="{{ url_for('static',filename = 'js/jQuery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/bootstrap/bootstrap.min.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>

</html>