<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<table>
    <thead>
        <th>主键</th>
        <th>名称</th>
        <th>等级</th>
        <th>编码</th>
        <th>父级编码</th>
        <th>东</th>
        <th>西</th>
        <th>北</th>
        <th>南</th>
    </thead>
    <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.f_gid }}</td>
                <td>{{ region.f_name }}</td>
                <td>{{ region.f_level }}</td>
                <td>{{ region.f_code }}</td>
                <td>{{ region.f_pcode }}</td>
                <td>{{ region.f_east }}</td>
                <td>{{ region.f_west }}</td>
                <td>{{ region.f_north }}</td>
                <td>{{ region.f_south }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>