{% extends 'base_user.html' %}

{% block title %}注册{% endblock %}

{% block head %}
<style type="text/css">
    .regist {
    margin-top: 150px;
    width: 350px;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 8px;
}

.btn-circle {
    width: 28px;
    height: 28px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url({{ url_for('static',filename = 'img/refresh.png') }});
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
}


</style>
{% endblock %}

{% block body %}
<div class="container regist">
    <h2 class="text-center" style="margin-bottom: 15px">注册</h2>
    <form id="registerForm" name="registerForm" class="form-horizontal" method="post" action="">
        <div class="row form-group">
            <label for="username">用户名</label>
            <input type="text" name="username" class="form-control" value="{{username|default('')}}">
            <p style="color:red">{{name_error|default('')}}</p>
        </div>
        <div class="row form-group">
            <label for="pass">密码</label>
            <input type="password" name="pass" class="form-control" value="{{password|default('')}}">
            <p style="color:red">{{pass_error|default('')}}</p>
        </div>
        <div class="row form-group">
            <label for="repass">确认密码</label>
            <input type="password" name="repass" class="form-control" value="{{repassword|default('')}}">
            <p style="color:red">{{repass_error|default('')}}</p>
        </div>
        <div class="row form-group">
            <label for="inputCheck">验证码</label>
            <div class="row">
                <div class="col-sm-7">
                    <input type="text" name="captcha" class="form-control">
                </div>
                <div class="col-sm-4 col-sm-offset-7">
                    <img id="captchaImg" width="100px" height="40px" src="{{ url_for('user.captcha') }}"></img>
                </div>
                <div class="col-sm-1 col-sm-offset-11">
                    <input type="button" id="changeImg" class="btn-circle" onclick="Change()"/>
                </div>
            </div>
            <p style="color:red">{{captcha_error|default('')}}</p>
        </div>
        <div class="row form-group">
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="注册"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    function Change() {
        //刷新验证码图片必须后面添加Math.random()方法
        document.getElementById('captchaImg').src = "{{ url_for('user.captcha') }}?" + Math.random();
   }
</script>
{% endblock %}